.impresion td{
	border:	0px solid	#069;
}
.certificado{
	border: 0px;
}
.certificado td{
	border: 0px;
}
.certificado th{
	font:	bold	14px	Verdana, Arial, Helvetica, sans-serif;
	border: 0px;
}
.espacio{
	font:	normal	8px	Verdana, Arial, Helvetica, sans-serif;
}
.espacio1{
	font:	normal	4px	Verdana, Arial, Helvetica, sans-serif;
}
