.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  position: relative;

  margin: 0 auto;
  color: #001028;
  background: #FFFFFF;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-family: Arial;
  font-size: 0.8em;
}

header {
  padding: 10px 0;
  margin-bottom: 30px;
}

.panel-heading {
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	font-size: 1.1em;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

.tabla th {
  padding: 5px 20px;
  color: #000;
  white-space: nowrap;
  font-weight: bold;
  border: solid 1px #888;
}
.tabla th.unit {
	text-align: center;
}
.tabla td {
  padding: 10px;  
  font-weight: normal;
  font-size: 10px;
  font-size: 0.7em;
  border: solid 1px #999;	
}

.tabla td.qty {  
  text-align: right;  
}
.tabla td.unit {
	text-align: center;
}